body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    padding-bottom: 2rem;
}

.lead {
    font-size: 1.1rem;
}

.roadmap {
    counter-reset: roadmap-counter;
    list-style: none;
    padding-left: 0;
}

.roadmap > li {
    counter-increment: roadmap-counter;
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 3rem;
}

.roadmap > li::before {
    content: counter(roadmap-counter);
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
