@inherits LayoutComponentBase

<PageTitle>AeroNexus Forecast Studio</PageTitle>

<div class="page">
    <NavMenu />

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/" target="_blank" rel="noreferrer">Project home</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
